.modal {
    height: 100vh;
    width: 100vw;

    max-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .2);

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal img {
    width: 500px;
    height: auto;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    height: auto;
    width: 540px;

    max-height: 75vh;

    display: flex;
    justify-content: center;

    overflow: auto;

    padding: 20px;

    border-radius: 12px;

    background-color: #fff;

    transform: scale(.5);

    transition: all .4s;
}

.modal__content.active {
    transform: scale(1);
}
